* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Open Sans";
}

.container {
  width: 100vw;
  min-height: 100vh;
}

.container .background-img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.container aside {
  width: 16vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container aside .info {
  margin-bottom: 80px;
}

.container aside .info h1 {
  color: white;
  text-align: right;
  font-size: 2.1rem;
  margin-bottom: 20px;
}

.container aside .info p {
  color: white;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
}

.container aside .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container aside .contact .social-icon {
  width: 28px;
  height: auto;
  margin-right: 15px;
}

.container aside .contact .social-icon.behance {
  width: 39px;
  height: auto;
  margin-right: 0px;
}

.container aside .contact .social-icon.linkedin {
  width: 50px;
  height: auto;
  margin-right: 3px;
}

.container aside .contact .social-icon.instagram {
  width: 23px;
  height: auto;
}

.container .center {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30vw;
}

.container .center h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
}

.container .center p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100vw;
    min-height: 100vh;
  }
  .container .background-img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: -2%;
  }
  .container aside {
    width: 16vw;
    height: 100vh;
    top: 0;
    right: 10%;
  }
  .container aside .info {
    margin-bottom: 80px;
  }
  .container aside .info h1 {
    text-align: right;
    font-size: 2.1rem;
    margin-bottom: 20px;
  }
  .container aside .info p {
    text-align: right;
    font-size: 1rem;
  }
  .container .center {
    top: 80%;
    left: 50%;
  }
  .container .center h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .container .center p {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100vw;
    min-height: 100vh;
  }
  .container .background-img {
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: -2%;
  }
  .container aside {
    width: 60vw;
    height: 100vh;
    top: 40%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container aside .info {
    margin-bottom: 80px;
  }
  .container aside .info h1 {
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 20px;
  }
  .container aside .info p {
    text-align: center;
    font-size: 1.2rem;
  }
  .container .center {
    top: 82%;
    left: 50%;
    width: 60vw;
  }
  .container .center h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .container .center p {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */